<nav class="shadow-lg">
  <div class="px-4 sm:px-10 lg:px-24">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" (click)="toggleMobileMenu()"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-300 hover:text-white focus:outline-none focus:ring-1 focus:ring-gray-200">
          <svg *ngIf="!isMobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg *ngIf="isMobileMenuOpen" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-10 w-auto" src="/assets/images/icon.svg" alt="icon">
        </div>
        <div class="hidden sm:block">
          <div class="flex space-x-4">
            <a routerLink="/inicio"
              class="focus:outline-none focus:bg-gray-200 text-gray-500 hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page">Home</a>
            <a routerLink="/giphy"
              class="focus:outline-none focus:bg-gray-200 text-gray-500 hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium">Giphy</a>
            <a routerLink="/search"
              class="focus:outline-none focus:bg-gray-200 text-gray-500 hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobileMenuOpen" class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a routerLink="/inicio"
        class="focus:outline-none focus:bg-gray-200 text-gray-500 hover:bg-gray-200 block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page">Home</a>
      <a routerLink="/giphy"
        class="focus:outline-none focus:bg-gray-200 text-gray-500 hover:bg-gray-200 block rounded-md px-3 py-2 text-base font-medium">Giphy</a>
      <a routerLink="/search"
        class="focus:outline-none focus:bg-gray-200 text-gray-500 hover:bg-gray-200 block rounded-md px-3 py-2 text-base font-medium">Search</a>
    </div>
  </div>
</nav>