<div class="mx-auto max-w-7xl px-4 sm:px-10 lg:px-24 pb-5">
    <div class="text-center mb-2 py-10">
        <div class="font-bold text-4xl text-gray-400 inline-block">ÚLTIMOS GIFS&nbsp;</div>
        <div class="font-bold text-4xl text-gray-700 inline-block">EXCLUSIVOS</div>
      </div>
    <div class="grid grid-cols-3 gap-4">
        <app-giphy-card
            *ngFor="let giphy of giphyAll"
            [title]="giphy.title"
            [id]="giphy.id"
            [imageUrl]="giphy.images.original.url"
        ></app-giphy-card>
    </div>
    <div class="flex justify-between mt-4">
        <button (click)="prevPage()" [disabled]="currentPage === 0" class="bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-300 cursor-pointer">Anterior</button>
        <button (click)="nextPage()" class="bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-300 cursor-pointer">Siguiente</button>
    </div>
</div>

