<div class="px-4 sm:px-10 lg:px-24 pb-5 pt-10">
    <div class="p-10">
        <p class="text-center text-gray-700  text-4xl md:text-6xl lg:text-8xl font-bold">BUSCA LO QUE</p>
        <p class="text-center text-2xl md:text-4xl lg:text-6xl text-gray-400 font-semibold">SALGA DE TU MENTE</p>
    </div>

    <div class="flex items-center rounded-full bg-white shadow p-2 mb-10">
        <input type="text" placeholder="Buscar..." class="border-none outline-none flex-grow px-4 py-2"
            (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="valueSearch">
        <button class="focus:outline-none p-3" (click)="performSearch()">
            <img src="/assets/images/search.svg" alt="Search">
        </button>
    </div>
    <div *ngIf="noResults" class="flex flex-col items-center justify-center text-red-400">
        <p>No se encontraron resultados con el valor de  {{valueSearch}}</p>
    </div>
    <div *ngIf="isInputFocused; else searchContent" class="flex flex-col items-center justify-center text-center">
        <img src="/assets/images/waiting.svg" alt="waiting" class="h-48 mb-4">
        <p class="text-gray-500">Esperamos que nos traigas<br>una imagen para comenzar la búsqueda.</p>
    </div>
    <ng-template #searchContent>
        <div class="grid grid-cols-3 gap-4">
            <app-giphy-card *ngFor="let giphy of giphySearch" [title]="giphy.title" [id]="giphy.id"
                [imageUrl]="giphy.images.original.url"></app-giphy-card>
        </div>
        <div class="flex justify-between mt-4">
            <button (click)="prevPage()" [disabled]="currentPage === 0"
                class="bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-300 cursor-pointer">Anterior</button>
            <button (click)="nextPage()"
                class="bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-300 cursor-pointer">Siguiente</button>
        </div>
    </ng-template>


</div>