<div class="md:px-4 md:py-8">
    <div class="flex flex-col md:flex md:flex-row md:items-center md:justify-center">
        <img src="/assets/images/home.svg" alt="Home" class="h-[400px] lg:h-[650px] md:px-10">
        <div class="flex flex-col items-center justify-center text-center md:text-left">
            <h1 class="text-lg md:text-2xl lg:text-6xl text-gray-400 font-bold md:pb-10">BIENVENIDO USUARIO!</h1>
            <h2 class="px-16 md:px-0 text-base md:text-lg lg:text-2xl text-gray-400">Para visualizar los GIFS dirigase al menu en la parte superior
                y seleccione la opcion Giphy!</h2>
            <img src="/assets/images/explore.svg" alt="Explore" class="h-[200px] lg:h-[400px] hidden md:flex">
        </div>
    </div>
</div>
